# Environment files
.env
.env.local
.env.*.local

# Node
node_modules
dist
npm-debug.log*

# Go
bin/
*.test
coverage.out

# Python
.venv
__pycache__/
*.pyc

# Docker
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store